/*****TRIP DETAILS*******/

.trip-details h3 { 
  font-family: 'Pacifico', cursive;
  color: #d1faff;

}

.panel-default>.panel-heading{ 
  font-family: 'Pacifico', cursive;
  background-color: #004e64;
  font-size: 20px;
  color: #d1faff;
}
 /**********/

body{
  font-family: 'Open Sans', sans-serif;
}

a{ 
  color: #d1faff;
}

html{
  height: 100%;
}

#content { 
  text-align: center; 
  padding-top: 27%;
  padding-bottom: 210px
}

h1{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 70;
}

h3{
  color: white;
  letter-spacing: 3;
}

h4{
  font-family: 'Pacifico', cursive;
  font-size: 25;

}

hr{
   height: 12px;
   border-top: 3px solid white ;
   width: 90%;
}

/*****************   NAVBAR   ***************/
.navbar-default {
  background-color: #004e64;
  border: #004e64;
}

.navbar-default .navbar-nav>li>a {
  color: #d1faff;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #30bced;
}

.navbar-default .navbar-brand {
  color: #d1faff;
  font-family: 'Pacifico', cursive;

}

.btn-default:hover{
  color: #004e64;
  background-color: #d1faff;
}

.navbar-default .navbar-brand:hover{
  color: #30bced;
}


/*Hamburger thing*/
.navbar-default .navbar-toggle .icon-bar{ 
  background-color: #d1faff;
}


/*Get on the road button*/
.btn-default{
  background-color: #004e64;
  color: #d1faff;
  border: #004e64;
  height: 40px;
}

.navbar-default .navbar-toggle{
  color: #004e64;
}

/*************** BEGIN TRIP SECTION **********/
.begin-trip h1{
  color:black; 
  text-align: center;
  padding-top: 70px; 
  padding-bottom: 50px;
  font-size: 50px;
}

.container .begin-trip{
  padding-bottom: 0px;
}

#trip-input .container{
  padding-bottom: 60px;
}

#trip-input .btn-default{
  margin-top: 20px;
}
/*Bootstrap overwrite*/ 

.container .welcome .btn .btn-default .btn-lg{
  color: black;

}

.container .welcome h1{
  font-size: 50px;
}
.bg-primary{
    color: #d1faff;
    background-color: #004e64;
}

.bg-primary p, strong{
  color: #fff;
}

.text-primary{
  color: #004e64  ;
}

.row .text-center p{
  color: #fff;
}
#services a {
    color: #ffffff  ;
    text-decoration: none;
}

#services a:hover{
  color: #004e64;
  background-color: #d1faff;
}
.btn:hover {
    color: #004e64;
    text-decoration: none;
}

.list-inline li a{
  color: #004e64;
}

.list-inline li a:hover{
  color: #d1faff;
}

.list-unstyled li a{
  color: #004e64;
}

.list-unstyled li a:hover{
  color: #d1faff;
}

.footer h4{ 
color: #004e64;
}
/*****************************/ 

